.root{
    -fx-font-family: "Times Roman";
    -fx-font-weight: bold;
    -fx-background-color: rgb(37, 37, 37);
}
.label{
    -fx-font-size: 16pt;
    -fx-text-fill: rgb(221, 221, 221);
}
.chart-title{
    -fx-text-fill: rgb(221, 221, 221);
}
.chart-plot-background{
    -fx-background-color: transparent;
}
.axis-label{
    -fx-text-fill: rgb(221, 221, 221);
    -fx-font-size: 12pt;
}

.chart{
    -fx-pref-height: 1280;
    -fx-pref-width: 920;
    -fx-start-angle: 90;


}
.chart-pie{
    -fx-pref-width: 5;
    -fx-pref-height: 5;    

}.chart-pie-label{
    -fx-fill: white;
}.chart-legend{
    -fx-background-color: rgb(0, 0, 0);
}.chart-legend-item{
    -fx-font-size: 10pt;
}